---
layout: default
section_id: accomplishments
nine:
  awards:
    - icon_class: fa fa-trophy
      title: Duke of Edinburgh Award
      type: trophy
      text:
        Bronze level completed
    - icon_class: fa fa-star-half-empty
      title: West Vancouver Community Centre
      type: achieve
      text:
        Volunteer in basketball camps
    - icon_class: fa fa-trophy
      title: Athelite Basketball League
      type: trophy
      text:
        Player of the Tournament Award
    - icon_class: fa fa-star-half-empty
      title: Collingwood School’s Grade Wide Science Fair finalist
      type: achieve
      text:
        selected to present project at GVRSF.
    - icon_class: fa fa-star-half-empty
      title: Greater Vancouver Regional Science Fair (GVRSF)
      type: achieve
      text:
        Received Honorable Mention for science fair presentation entitled, “The Fountain of Filth”
    - icon_class: fa fa-trophy
      title: Collingwood School’s Public Speaking Competition
      type: trophy
      text:
        Won 8th consecutive Gold award.  I am now tied with the school’s current record holder for winning 8 consecutive gold medals.
    - icon_class: fa fa-trophy
      title: Grade Colors Award Recipient for Academics, Honor & Effort Roll
      type: trophy
      text:

    - icon_class: fa fa-trophy
      title: Collingwood Basketball Gr. 9 Team
      type: trophy
      text:
        starting lineup Point Guard; awarded MVP for the season.
    - icon_class: fa fa-trophy
      title: English 9 Award
      type: trophy
      text:
        achieved highest academic GPA in grade
    - icon_class: fa fa-trophy
      title: Science 9 Award
      type: trophy
      text:
        achieved highest academic GPA in grade
    - icon_class: fa fa-trophy
      title: Richard Wingate Award for Excellence and Character
      type: trophy
      text:
        Voted by faculty & awarded to the student in their last year of middle school who has the highest standards of deportment & exemplifies leadership, responsibility, citizenship & upstanding character
    - icon_class: fa fa-trophy
      title: Explore Spirit Boot Award
      type: trophy
      text:
        Recognized for outstanding sprit during weeklong outdoors school expedition
    - icon_class: fa fa-star-half-empty
      title: 100% Final Math Grade
      type: achieve
      text:

    - icon_class: fa fa-trophy
      title: School Colors Award Recipient
      type: trophy
      text:
        Awarded to students with a grade point average of 3.8 or better in his or her top five academic courses, with no marks lower than a B, for two consecutive terms
    - icon_class: fa fa-star-half-empty
      title: Ismaili Jamatkhana Volunteer
      type: achieve
      text:
        performed duties at religious Community Centre in both parking and serving Senior Citizens
    - icon_class: fa fa-star-half-empty
      title: Triathlon Team
      type: achieve
      text:
        member
    - icon_class: fa fa-star-half-empty
      title: Cross Country Team
      type: achieve
      text:
        member

  images:
    - url: /images/awards/awards9-1.jpg
    - url: /images/awards/awards9-2.jpg
    - url: /images/awards/awards9-3.jpg
    - url: /images/awards/awards9-4.jpg
    - url: /images/awards/awards9-5.jpg
    - url: /images/awards/awards9-6.jpeg


ten:
  awards:
    - icon_class: fa fa-trophy
      title: Collingwood School’s Public Speaking Competition
      type: trophy
      text:
        Won 9th consecutive Gold award at Collingwood – broke the record for most first place consecutive wins in my school’s history.
    - icon_class: fa fa-trophy
      title: GVRSF
      type: trophy
      text:
        Greater Vancouver Regional Science Fair Won GOLD Award for my science poster presentation named, “Rehydrate & Dominate”
    - icon_class: fa fa-trophy
      title: Collingwood Basketball Team
      type: trophy
      text:
        awarded MVP of Junior Team
    - icon_class: fa fa-star-half-empty
      title: SHAD Valley Program
      type: achieve
      text:
        Summer 2015. Appointed Team CEO and won the competition at Carleton University.  Formed a startup company called Intelliplay that created a product BEAMCHASE that encourages Canadians to play outdoors.  Invited to present project at SHAD CUP.
    - icon_class: fa fa-star-half-empty
      title: West Vancouver Community Centre
      type: achieve
      text:
        Volunteer for Youth Camps
    - icon_class: fa fa-star-half-empty
      title: Ismaili Jamatkhana Team Leader
      type: achieve
      text:
        led several youth volunteers between the ages of 8-13 years to perform duties at the religious congregation.
    - icon_class: fa fa-trophy
      title: Chemistry 11 Subject Award Winner
      type: trophy
      text:
        highest GPA achieved in grade
    - icon_class: fa fa-trophy
      title: Math 10 Subject Award Winner
      type: trophy
      text:
        highest GPA achieved in grade
    - icon_class: fa fa-trophy
      title: Basketball Skills Subject Award Winner
      type: trophy
      text:

    - icon_class: fa fa-trophy
      title: School Colors Award Recipient
      type: trophy
      text:
        awarded to students with a grade point average of 3.8 or better in his or her top five academic courses, with no marks lower than a B, for two consecutive terms
    - icon_class: fa fa-star-half-empty
      title: YAC (Youth Advisory Council of West Vancouver)
      type: achieve
      text:
        Member; was selected to speak to West Vancouver Council Members on behalf of all WV Youth; Hosted Youth Week Awards Night and made a presentation on the issue of technology and youth in today’s society.
    - icon_class: fa fa-trophy
      title: Grade Colors Award Recipient for Arts, Drama, Athletics
      type: trophy
      text:
        Basketball, Service, Honor & Effort Roll
    - icon_class: fa fa-star-half-empty
      title: Founder & President of CCMP
      type: achieve
      text:
        Collingwood’s Career Mentorship Program Initiated mentorship club linking students with appropriate career mentors; established a Mentor Database of 75 mentors – a first student initiative of its kind at the school
    - icon_class: fa fa-star-half-empty
      title: Green Collard Futures Workshop
      type: achieve
      text:
        Feb 2015 by Greenbricks  invited to attend as a conference participant
    - icon_class: fa fa-star-half-empty
      title: Peer Tutoring Club
      type: achieve
      text:
        member; worked with students in grades 8-10 in an after school program.  Tutored Math 9, Pre-Calculus 10, Science 10Enriched, French 9, Socials 9
    - icon_class: fa fa-star-half-empty
      title: AD VERUM Staff
      type: achieve
      text:
        Writer for School’s Newspaper. Published general articles on both student life and world headlines.
    - icon_class: fa fa-star-half-empty
      title: Host for the School Radio Station, Samir and Nisha
      type: achieve
      text:

    - icon_class: fa fa-star-half-empty
      title: Model UN 2015
      type: achieve
      text:
        attended conference in NYC; represented South Africa on the UNODC committee.  Drafted a resolution on how to combat organized crime, illicit drug trafficking and terrorism.

  images:
    - url: /images/awards/awards10-1.jpeg
    - url: /images/awards/awards10-2.png
    - url: /images/awards/awards10-3.png

eleven:
  awards:
    - icon_class: fa fa-star-half-empty
      title: Founder and Vice President TARGET ALPHA BRITISH COLUMBIA CHAPTER
      type: achieve
      text:
        a new initiative that seeks to improve financial literacy amongst high school students.  As Vice President, successfully established all ground work for this program which is now up and running in several dozen high schools throughout the province.
    - icon_class: fa fa-trophy
      title: BC Basketball Provincial Champions
      type: trophy
      text:
        I was thrilled to be part of Collingwood’s Senior Basketball team who placed first in this provincial championship  a first in the history of our high school!
    - icon_class: fa fa-star-half-empty
      title: Collingwood’s Admissions Ambassador
      type: achieve
      text:
        selected to give orientation tours to prospective new students and their parents.
    - icon_class: fa fa-trophy
      title: INTERNATIONAL INDEPENDENT SCHOOL PUBLIC SPEAKING COMPETITION in Toronto, October 2015
      type: trophy
      text:
        was one of three students invited to present in three categories at this International Competition   Won 2nd place in the Finals of Radio Newscast category
    - icon_class: fa fa-star-half-empty
      title: Youth Advisory Council (YAC) for West Vancouver
      type: achieve
      text:
        appointed Chairperson for 2015/16
    - icon_class: fa fa-star-half-empty
      title: AD VERUM Staff Writer for School’s Newsletter
      type: achieve
      text:

    - icon_class: fa fa-star-half-empty
      title: CCMP Conference 2016
      type: achieve
      text:
        Hosted a successful inaugural career conference at Collingwood School for all Gr. 10 students in March 2016
    - icon_class: fa fa-trophy
      title: Harvard College’s Pre-Collegiate Economics Challenge – April 2016
      type: trophy
      text:
        It was an incredible honor to participate in this competition.  My team finished with the highest team average score on the multiple choice exam, and entered the octofinals in 4th place of 47 teams.
    - icon_class: fa fa-star-half-empty
      title: SHAD FELLOW ’15 / JOHN DOBSON ENTREPRENEURSHIP CUP
      type: achieve
      text:
        Selected Team Leader for Shad Carleton to represent project in Waterloo at the National Competition. Duties included in Aug 2015 Weekly skype calls with team members located all across Canada, organization team goals, timelines, coordination with subcommittee members, and presented a speech at the Awards Ceremony.
    - icon_class: fa fa-trophy
      title: SHAD FELLOW ’15 / JOHN DOBSON ENTREPRENEURSHIP CUP - BEST MARKETING
      type: trophy
      text:
        Won 2nd place
    - icon_class: fa fa-trophy
      title: SHAD FELLOW ’15 / JOHN DOBSON ENTREPRENEURSHIP CUP - BEST WEBSITE DESIGN
      type: trophy
      text:
        Won 3rd place
    - icon_class: fa fa-trophy
      title: Winner of The Commonwealth Essay placed Bronze from over 13000 entries worldwide
      type: trophy
      text:

    - icon_class: fa fa-trophy
      title: Collingwood’s Public Speaking Competition 2015
      type: trophy
      text:
        Won first place – 10th Consecutive GOLD win!

  images:
    - url: /images/awards/awards11-1.jpeg
    - url: /images/awards/awards11-2.jpg
    - url: /images/awards/awards11-3.jpeg
    - url: /images/awards/awards11-4.jpeg
    - url: /images/awards/awards11-5.jpeg

---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Accomplishments</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>

    <div class='large-12 columns'>
      <h2 class="award-title">Grade 11</h2>

      <div class='medium-8 columns'>
        {% for award in page.eleven.awards %}
          <div class='row'>
            <div class="{{award.type}} award-icon">
              <i class="{{award.icon_class}}"></i>
            </div>
            <div class="{{award.type}} award-text">
              <h4>{{award.title}}</h4>
              <p>{{award.text}}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="medium-3 columns" id="sidebar">
        {% for photo in page.eleven.images %}
          <div class="award-photos">
            <img alt="" src="{{photo.url}}" />
          </div>
          <div class="spacing"></div>
        {% endfor %}
      </div>
    </div>
    <div class="four spacing"></div>

    <div class='large-12 columns'>
      <h2 class="award-title">Grade 10</h2>

      <div class='medium-8 columns'>
        {% for award in page.ten.awards %}
          <div class='row' style=''>
            <div class="{{award.type}} award-icon">
              <i class="{{award.icon_class}}"></i>
            </div>
            <div class="{{award.type}} award-text">
              <h4>{{award.title}}</h4>
              <p>{{award.text}}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="medium-3 columns" id="sidebar">
        {% for photo in page.ten.images %}
          <div class="award-photos">
            <img alt="" src="{{photo.url}}" />
          </div>
          <div class="spacing"></div>
        {% endfor %}
      </div>
    </div>
    <div class="four spacing"></div>

    <div class='large-12 columns'>
      <h2 class="award-title">Grade 9</h2>

      <div class='medium-8 columns'>
        {% for award in page.nine.awards %}
          <div class='row' style=''>
            <div class="{{award.type}} award-icon">
              <i class="{{award.icon_class}}"></i>
            </div>
            <div class="{{award.type}} award-text">
              <h4>{{award.title}}</h4>
              <p>{{award.text}}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="medium-3 columns" id="sidebar">
        {% for photo in page.nine.images %}
          <div class="award-photos">
            <img alt="" src="{{photo.url}}" />
          </div>
          <div class="spacing"></div>
        {% endfor %}
      </div>
    </div>
    <div class="four spacing"></div>

  </div>
  <div class='four spacing'></div>
</div>
