---
layout: default
section_id: basketball
works:
  - image: images/basketball/bb1.jpg
    title: Basketball
    link_to: images/basketball/bb1.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb2.jpg
    title: Basketball
    link_to: images/basketball/bb2.jpg
    class: web-design print
    desc: replace here
  - image: images/basketball/bb3.jpg
    title: Basketball
    link_to: images/basketball/bb3.jpg
    class: brand
    desc: replace here
  - image: images/basketball/bb4.jpg
    title: Basketball
    link_to: images/basketball/bb4.jpg
    class: development
    desc: replace here
  - image: images/basketball/bb5.jpg
    title: Basketball
    link_to: images/basketball/bb5.jpg
    class: print brand
    desc: replace here
  - image: images/basketball/bb6.jpg
    title: Basketball
    link_to: images/basketball/bb6.jpg
    class: web-design
    desc: replace here
  - image: images/basketball/bb7.jpg
    title: Basketball
    link_to: images/basketball/bb7.jpg
    class: web-design
    desc: replace here
  - image: images/basketball/bb8.jpg
    title: Basketball
    link_to: images/basketball/bb8.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb9.jpg
    title: Basketball
    link_to: images/basketball/bb9.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb10.jpg
    title: Basketball
    link_to: images/basketball/bb10.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb11.jpg
    title: Basketball
    link_to: images/basketball/bb11.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb12.jpg
    title: Basketball
    link_to: images/basketball/bb12.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb14.jpg
    title: Basketball
    link_to: images/basketball/bb14.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb15.jpg
    title: Basketball
    link_to: images/basketball/bb15.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb16.jpg
    title: Basketball
    link_to: images/basketball/bb16.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb18.jpg
    title: Basketball
    link_to: images/basketball/bb18.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb19.jpg
    title: Basketball
    link_to: images/basketball/bb19.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb20.jpg
    title: Basketball
    link_to: images/basketball/bb20.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb21.jpg
    title: Basketball
    link_to: images/basketball/bb21.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb22.jpg
    title: Basketball
    link_to: images/basketball/bb22.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb23.jpg
    title: Basketball
    link_to: images/basketball/bb23.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb24.jpg
    title: Basketball
    link_to: images/basketball/bb24.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb25.jpg
    title: Basketball
    link_to: images/basketball/bb25.jpg
    class: graphic-design
    desc: replace here
  - image: images/basketball/bb26.jpg
    title: Basketball
    link_to: images/basketball/bb26.jpg
    class: graphic-design
    desc: replace here

testimonials:
  - text: “Samir Damji took control of the point and had his best game as a senior…hitting four clutch three pointers”
  - text: “Samir had the crowd chanting MVP"
  - text: “Samir Damji had his best game of the season, knocking down several key free throws and causing havoc for the Hornets point guard”
  - text: “Samir Damji continues to be the heart and soul of the Junior Cavs”
  - text: “Your diligence and determined mindset elevated the level of practice for our entire team”
  - text: “Your relentless work ethic and desire for team success is admirable and, ultimately something that every coach wants in their starting point guard”
  - text: “You were put in many high pressure situations, and each time, I was thoroughly impressed with your intrinsic drive”
  - text: “Damji hit two big threes’ in the final frame, and he clinched the win by draining the game winning free throw with 20 seconds on the clock.”

---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>"God blessed me with a lot of heart and no height, and I'll take that any day" - Nate Robinson</h4>
      <h2>Basketball</h2>
      <div class='spacing'></div>
      <p>I’m addicted to the game. Basketball has played an enormous role in my life, as it has fostered essential qualities within me and allowed me to meet some of my greatest friends. To most I’m 5’5”, but I’m 7 feet in heart. </p>
    </div>
  </div>
  <!-- <div class='two spacing'></div> -->
</div>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% for work in page.works %}
          <li class='{{work.class}}'>
            <a href='{{work.link_to}}'>
              <img alt="" src="{{site.url}}/{{work.image}}" />
              <div class='overlay' style='background: rgba(9, 50, 148, 0.48);'>
                <div class='thumb-info'>
                  <h3>{{work.title}}</h3>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
  <!-- <div class='four spacing'></div> -->
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
