<h2>Grade 10 - Achievements</h2>

<dl>
  <dt>Founder & President of CCMP</dt>
    <dd>Collingwood’s Career Mentorship Program: Initiated mentorship club linking students with appropriate career mentors; established a Mentor Database of 75 mentors – a first student initiative of its kind at the school</dd>

  <dt>YAC (Youth Advisory Council of West Vancouver)</dt>
    <dd>Member; was selected to speak to West Vancouver Council Members on behalf of all WV Youth; Hosted Youth Week Awards Night and made a presentation on the issue of technology and youth in today’s society.</dd>

  <dt>SHAD Valley Program</dt>
    <dd>Summer 2015. Appointed Team CEO and won the competition at Carleton University.  Formed a startup company called Intelliplay that created a product BEAMCHASE that encourages Canadians to play outdoors.  Invited to present project at SHAD CUP.</dd>

  <dt>West Vancouver Community Centre</dt>
    <dd>Volunteer for Youth Camps</dd>

  <dt>Ismaili Jamatkhana Team Leader</dt>
    <dd>led several youth volunteers between the ages of 8-13 years to perform duties at the religious congregation.</dd>

  <dt>Green Collard Futures Workshop</dt>
    <dd>Feb 2015 by Greenbricks:  invited to attend as a conference participant</dd>

  <dt>Peer Tutoring Club</dt>
    <dd>member; worked with students in grades 8-10 in an after school program.  Tutored Math 9, Pre-Calculus 10, Science 10Enriched, French 9, Socials 9</dd>

  <dt>AD VERUM Staff</dt>
    <dd>Writer for School’s Newspaper. Published general articles on both student life and world headlines.</dd>

  <dt>Host for the School Radio Station, Samir and Nisha</dt>
    <!-- <dd></dd> -->
  <dt>Model UN 2015</dt>
    <dd>attended conference in NYC; represented South Africa on the UNODC committee.  Drafted a resolution on how to combat organized crime, illicit drug trafficking and terrorism.</dd>

    <!-- <dd></dd> -->
</dl>
