<h2>Grade 11 - Achievements</h2>

<dl>
  <dt>Founder and Vice President TARGET ALPHA BRITISH COLUMBIA CHAPTER</dt>
    <dd>a new initiative that seeks to improve financial literacy amongst high school students.  As Vice President, successfully established all ground work for this program which is now up and running in several dozen high schools throughout the province.</dd>

  <dt>Collingwood’s Admissions Ambassador</dt>
    <dd>selected to give orientation tours to prospective new students and their parents.</dd>

  <dt>Youth Advisory Council (YAC) for West Vancouver</dt>
    <dd>appointed Chairperson for 2015/16</dd>

  <dt>AD VERUM Staff Writer for School’s Newsletter</dt>
    <dd></dd>

  <dt>CCMP Conference 2016</dt>
    <dd>Hosted a successful inaugural career conference at Collingwood School for all Gr. 10 students in March 2016</dd>

  <dt>Harvard College’s Pre-Collegiate Economics Challenge – April 2016</dt>
    <dd>It was an incredible honor to participate in this competition.  My team finished with the highest team average score on the multiple choice exam, and entered the octofinals in 4th place of 47 teams.</dd>
</dl>
