<h2>Grade 9 - Achievements</h2>

<dl>
  <dt>Collingwood School’s Grade Wide Science Fair: finalist;</dt>
    <dd>selected to present project at GVRSF.</dd>

  <dt>Greater Vancouver Regional Science Fair (GVRSF):</dt>
    <dd>Received Honorable Mention for science fair presentation entitled, “The Fountain of Filth”</dd>

  <dt>Ismaili Jamatkhana Volunteer</dt>
    <dd>performed duties at religious Community Centre in both parking and serving Senior Citizens</dd>

  <dt>West Vancouver Community Centre:</dt>
    <dd>Volunteer in basketball camps</dd>

  <dt>Triathlon Team</dt>
    <dd>member</dd>

  <dt>Cross Country Team</dt>
    <dd>member</dd>
</dl>
