<h2>Grade 9 - Awards</h2>

<dl>
  <dt>Duke of Edinburgh Award:</dt>
    <dd>Bronze level completed</dd>

  <dt>Athelite Basketball League:</dt>
    <dd>Player of the Tournament Award</dd>

  <dt>Collingwood School’s Public Speaking Competition</dt>
    <dd>Won 8th consecutive Gold award.  I am now tied with the school’s current record holder for winning 8 consecutive gold medals.</dd>

  <dt>Collingwood Basketball Gr. 9 Team</dt>
    <dd>starting lineup Point Guard; awarded MVP for the season.</dd>

  <dt>English 9 Award</dt>
    <dd>achieved highest academic GPA in grade</dd>

  <dt>Science 9 Award</dt>
    <dd>achieved highest academic GPA in grade</dd>

  <dt>Richard Wingate Award for Excellence and Character</dt>
    <dd>Voted by faculty & awarded to the student in their last year of middle school who has the highest standards of deportment & exemplifies leadership, responsibility, citizenship & upstanding character</dd>

  <dt>Explore Spirit Boot Award</dt>
    <dd>Recognized for outstanding sprit during weeklong outdoors school expedition</dd>

  <dt>School Colors Award Recipient</dt>
    <dd>Awarded to students with a grade point average of 3.8 or better in his or her top five academic courses, with no marks lower than a B, for two consecutive terms</dd>

  <dt>Grade Colors Award Recipient for Academics, Honor & Effort Roll</dt>
</dl>
