<h2>Grade 11 - Awards</h2>

<dl>
  <dt>SHAD FELLOW ’15 / JOHN DOBSON ENTREPRENEURSHIP CUP</dt>
    <dd>Selected Team Leader for Shad Carleton to represent project in Waterloo at the National Competition. Duties included in Aug 2015: Weekly skype calls with team members located all across Canada, organization team goals, timelines, coordination with subcommittee members, and presented a speech at the Awards Ceremony.</dd>
    <dl>
      <dt>BEST MARKETING</dt>
      <dd>Won 2nd place</dd>
      <dt>BEST WEBSITE DESIGN</dt>
      <dd>Won 3rd place</dd>
    </dl>

  <dt>INTERNATIONAL INDEPENDENT SCHOOL PUBLIC SPEAKING COMPETITION in Toronto, October 2015</dt>
    <dd>was one of three students invited to present in three categories at this International Competition:   Won 2nd place in the Finals of Radio Newscast category</dd>

  <dt>Winner of The Commonwealth Essay placed Bronze from over 13000 entries worldwide</dt>
    <dd></dd>

  <dt>Collingwood’s Public Speaking Competition 2015</dt>
    <dd>Won first place – 10th Consecutive GOLD win!</dd>

  <dt>BC Basketball Provincial Champions</dt>
    <dd>I was thrilled to be part of Collingwood’s Senior Basketball team who placed first in this provincial championship:  a first in the history of our high school!</dd>
</dl>
