<!-- <div class='full' style='background #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for service in page.services %}
            <div class='box' style='background #f9f9f9;'>
              <i class='{{service.icon_class}}'></i>
              <h4>{{service.title}}</h4>
              <p>{{service.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div> -->

<h2>Grade 9</h2>

<dl>
  Duke of Edinburgh Award
    Bronze level completed
  Athelite Basketball League
    Player of the Tournament Award
  Collingwood School’s Public Speaking Competition
    Won 8th consecutive Gold award.  I am now tied with the school’s current record holder for winning 8 consecutive gold medals.
  Collingwood Basketball Gr. 9 Team
    starting lineup Point Guard; awarded MVP for the season.
  English 9 Award
    achieved highest academic GPA in grade
  Science 9 Award
    achieved highest academic GPA in grade
  Richard Wingate Award for Excellence and Character
    Voted by faculty & awarded to the student in their last year of middle school who has the highest standards of deportment & exemplifies leadership, responsibility, citizenship & upstanding character
  Explore Spirit Boot Award
    Recognized for outstanding sprit during weeklong outdoors school expedition
  School Colors Award Recipient
    Awarded to students with a grade point average of 3.8 or better in his or her top five academic courses, with no marks lower than a B, for two consecutive terms
  Grade Colors Award Recipient for Academics, Honor & Effort Roll
  Collingwood School’s Grade Wide Science Fair finalist;
    selected to present project at GVRSF.
  Greater Vancouver Regional Science Fair (GVRSF)
    Received Honorable Mention for science fair presentation entitled, “The Fountain of Filth”
  Ismaili Jamatkhana Volunteer
    performed duties at religious Community Centre in both parking and serving Senior Citizens
  West Vancouver Community Centre
    Volunteer in basketball camps
  Triathlon Team
    member
  Cross Country Team
    member
</dl>

<h2>Grade 10</h2>

<dl>
  Collingwood School’s Public Speaking Competition
    Won 9th consecutive Gold award at Collingwood – broke the record for most first place consecutive wins in my school’s history.

  GVRSF
    Greater Vancouver Regional Science Fair Won GOLD Award for my science poster presentation named, “Rehydrate & Dominate”

  Collingwood Basketball Team
    awarded MVP of Junior Team

  Chemistry 11 Subject Award Winner
    highest GPA achieved in grade

  Math 10 Subject Award Winner
    highest GPA achieved in grade

  Basketball Skills Subject Award Winner

  School Colors Award Recipient
    awarded to students with a grade point average of 3.8 or better in his or her top five academic courses, with no marks lower than a B, for two consecutive terms

  Grade Colors Award Recipient for Arts, Drama, Athletics
    Basketball, Service, Honor & Effort Roll

  Founder & President of CCMP
    Collingwood’s Career Mentorship Program Initiated mentorship club linking students with appropriate career mentors; established a Mentor Database of 75 mentors – a first student initiative of its kind at the school

  YAC (Youth Advisory Council of West Vancouver)
    Member; was selected to speak to West Vancouver Council Members on behalf of all WV Youth; Hosted Youth Week Awards Night and made a presentation on the issue of technology and youth in today’s society.

  SHAD Valley Program
    Summer 2015. Appointed Team CEO and won the competition at Carleton University.  Formed a startup company called Intelliplay that created a product BEAMCHASE that encourages Canadians to play outdoors.  Invited to present project at SHAD CUP.

  West Vancouver Community Centre
    Volunteer for Youth Camps

  Ismaili Jamatkhana Team Leader
    led several youth volunteers between the ages of 8-13 years to perform duties at the religious congregation.

  Green Collard Futures Workshop
    Feb 2015 by Greenbricks  invited to attend as a conference participant

  Peer Tutoring Club
    member; worked with students in grades 8-10 in an after school program.  Tutored Math 9, Pre-Calculus 10, Science 10Enriched, French 9, Socials 9

  AD VERUM Staff
    Writer for School’s Newspaper. Published general articles on both student life and world headlines.

  Host for the School Radio Station, Samir and Nisha
    <!--  -->
  Model UN 2015
    attended conference in NYC; represented South Africa on the UNODC committee.  Drafted a resolution on how to combat organized crime, illicit drug trafficking and terrorism.
</dl>

<h2>Grade 11 - Achievements</h2>

<dl>
  Founder and Vice President TARGET ALPHA BRITISH COLUMBIA CHAPTER
    a new initiative that seeks to improve financial literacy amongst high school students.  As Vice President, successfully established all ground work for this program which is now up and running in several dozen high schools throughout the province.

  Collingwood’s Admissions Ambassador
    selected to give orientation tours to prospective new students and their parents.

  Youth Advisory Council (YAC) for West Vancouver
    appointed Chairperson for 2015/16

  AD VERUM Staff Writer for School’s Newsletter


  CCMP Conference 2016
    Hosted a successful inaugural career conference at Collingwood School for all Gr. 10 students in March 2016

  Harvard College’s Pre-Collegiate Economics Challenge – April 2016
    It was an incredible honor to participate in this competition.  My team finished with the highest team average score on the multiple choice exam, and entered the octofinals in 4th place of 47 teams.

  SHAD FELLOW ’15 / JOHN DOBSON ENTREPRENEURSHIP CUP
    Selected Team Leader for Shad Carleton to represent project in Waterloo at the National Competition. Duties included in Aug 2015 Weekly skype calls with team members located all across Canada, organization team goals, timelines, coordination with subcommittee members, and presented a speech at the Awards Ceremony.
    <dl>
      BEST MARKETING
      Won 2nd place
      BEST WEBSITE DESIGN
      Won 3rd place
    </dl>

  INTERNATIONAL INDEPENDENT SCHOOL PUBLIC SPEAKING COMPETITION in Toronto, October 2015
    was one of three students invited to present in three categories at this International Competition   Won 2nd place in the Finals of Radio Newscast category

  Winner of The Commonwealth Essay placed Bronze from over 13000 entries worldwide


  Collingwood’s Public Speaking Competition 2015
    Won first place – 10th Consecutive GOLD win!

  BC Basketball Provincial Champions
    I was thrilled to be part of Collingwood’s Senior Basketball team who placed first in this provincial championship  a first in the history of our high school!
</dl>
