<h2>Grade 10 - Awards</h2>

<dl>
  <dt>Collingwood School’s Public Speaking Competition</dt>
    <dd>Won 9th consecutive Gold award at Collingwood – broke the record for most first place consecutive wins in my school’s history.</dd>

  <dt>GVRSF</dt>
    <dd>Greater Vancouver Regional Science Fair: Won GOLD Award for my science poster presentation named, “Rehydrate & Dominate”</dd>

  <dt>Collingwood Basketball Team</dt>
    <dd>awarded MVP of Junior Team</dd>

  <dt>Chemistry 11 Subject Award Winner</dt>
    <dd>highest GPA achieved in grade</dd>

  <dt>Math 10 Subject Award Winner</dt>
    <dd>highest GPA achieved in grade</dd>

  <dt>Basketball Skills Subject Award Winner</dt>

  <dt>School Colors Award Recipient</dt>
    <dd>awarded to students with a grade point average of 3.8 or better in his or her top five academic courses, with no marks lower than a B, for two consecutive terms</dd>

  <dt>Grade Colors Award Recipient for Arts, Drama, Athletics</dt>
    <dd>Basketball, Service, Honor & Effort Roll</dd>
</dl>
