<div class='links'>
  <h3>Achievements</h3>
  <ul>
    <li>
      <a href='#' class='section-click' data-section='achieve-9'>Grade 9</a>
      <!-- <span>(6)</span> -->
    </li>
    <li>
      <a href='#' class='section-click' data-section='achieve-10'>Grade 10</a>
      <!-- <span>(10)</span> -->
    </li>
    <li>
      <a href='#' class='section-click' data-section='achieve-11'>Grade 11</a>
      <!-- <span>(6)</span> -->
    </li>
  </ul>
</div>
<div class='links'>
  <h3>Awards</h3>
  <ul>
    <li>
      <a href='#' class='section-click' data-section='award-9'>Grade 9</a>
      <!-- <span>(10)</span> -->
    </li>
    <li>
      <a href='#' class='section-click' data-section='award-10'>Grade 10</a>
      <!-- <span>(8)</span> -->
    </li>
    <li>
      <a href='#' class='section-click active' data-section='award-11'>Grade 11</a>
      <!-- <span>(6)</span> -->
    </li>
  </ul>
</div>
<!-- <div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    {% for post in site.posts %}
      {% if forloop.index > 6 %}
        {% break %}
      {% endif %}
      <li><a href="{{post.url}}">{{post.title | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Tags</h3>
  <ul>
    {% for tag in site.tags %}
      <li><a href="#">{{tag | first | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='four spacing'></div> -->
